<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<title>Clock Page</title>
	</head>
	<body id="clock">
		<header id="clock_header">
			<h1>Clock Page</h1>
		</header>
		<form action="/clocks/new" method="post">
			<div id="clock_details">
				<label for="name">Staff Name</label>
				<select id="name" name="name" required>
					{% for employee in all_staff %}
					<option value="{{ employee.id }}">
						{{ employee.name }}
					</option>
					{% endfor %}
				</select>
				<label for="day">Day</label>
				<input id="day" type="date" name="day" required />
				<label for="clock_in"> Clock In Time</label>
				<input id="clock_in" type="time" name="clock_in" required />
				<label for="clock_out"> Clock Out Time</label>
				<input id="clock_out" type="time" name="clock_out" required />
				<div id="delete_check">
					<button type="submit" id="delete_buttons">
						Add Clock In
					</button>
				</div>
			</div>
		</form>
	</body>
</html>
