<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<title>Clock Page</title>
	</head>
	<body>
		<h3>Clock Page</h3>
		<form action="/clocks/new" method="post">
			<select id="name" name="name" required>
				{% for employee in all_staff %}
				<option value="{{ employee.id }}">{{ employee.name }}</option>
				{% endfor %}
			</select>
			<label for="day">Day</label>
			<input id="day" type="date" name="day" />
			<label for="clock_in"> Clock In Time</label>
			<input id="clock_in" type="time" name="clock_in" />
			<label for="clock_out"> Clock Out Time</label>
			<input id="clock_out" type="time" name="clock_out" />
			<div id="delete_check">
				<button type="submit" id="delete_buttons">Add Clock In</button>
			</div>
		</form>
	</body>
</html>
