{% extends 'base.html' %} {% block content%}
<div id="new">
	<h2><b><u>
        Update Employee Details</b></u></b></h2>
	<form action="/employee/{{ employee.id }}" method="post">
		<div id="personal">
			<label for="name">Full Name</label>
			<input type="text" name="name" placeholder="Enter Full Name:" value="{{employee.name}}" autofocus required/>
			<label for="phone">Phone Number</label>
			<input type="tel" name="phone" placeholder="Enter Phone Number:" value="{{employee.phone}}" required/>
			<label for="email">Email Address</label>
			<input type="email" name="email" placeholder="Enter Email Address:" value="{{employee.email}}" required/>
		</div>
		<hr />
		<div id="employment">
			<label for="contract">Weekly Contracted Hours</label>
			<input type="number" name="contract" placeholder="Enter Contracted Hours:" value="{{employee.contract}}" required/>
			<label for="start_date">Start Date</label>
			<input type="date" name="start_date" placeholder="Enter Start Date (yyyy-mm-dd):" value="{{employee.start_date}}" required/>
            <label for="level">Select Job Title: </label>
            <select id="level" name="level_id">
                {% for level in all_levels %}
                <option value="{{ level.id }}"
                	{% if level.job_title==employee.level.job_title %}                        	selected
                    	{% endif %}
                    >{{ level.job_title }}</option>
                {% endfor %}
            </select>	
		</div>
		<hr />
		<div id="credentials">
			<label for="pin">User Number</label>
			<input type="text" name="pin" pattern="[0-9]{4}" placeholder="Enter 4 digit user number:" value="{{employee.credential.pin}}" required readonly/>
			<label for="passcode">Passcode</label>
			<input type="password" name="passcode" pattern="[0-9]{4}" placeholder="Enter 4 digit passcode:" value="{{employee.credential.passcode}}" required/>
		</div>
		<hr />
		<div id="add_button">
			<button type="submit">Update Employee</button>
		</div>
	</form>
</div>
{% endblock content %}
