<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			href="{{ url_for('static', filename='ems-favicon-32x32.png') }}"
			type="image/x-icon"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<title>Employee Management System</title>
	</head>
	<body>
		<header>
			<h1>Employee Management System</h1>
			<nav>
				<ul>
					<li><a href="/home"> Home</a></li>
					<li>
						<a href="/employees"> View All Employees</a>
					</li>
					<li><a href="/managers">View Managers</a></li>
					<li><a href="/staff">View Staff</a></li>
					<li><a href="/employees/new"> Add New Employee</a></li>
					<li><a href="/clocks/staff"> View All Clocks</a></li>
				</ul>
			</nav>
		</header>
		{% block content %} {% endblock content %}
	</body>
</html>
